body{
    background-color: aqua;
}
table{
    background-color: white;
    border: 2px;
    border-style: solid;
    border-color:black;
    position: fixed;
    left:50%;
    margin:10px 0 0 -150px;
    font-weight: bold;
    border-collapse: collapse;
}
table th, table td{
    border: 2px;
    border-style: solid;
    border-color:black;
}
tbody{
    border: 2px;
    border-style: solid;
    border-color:black;
}
img{
    width:100px;
    height: 150px;
}